body {
  margin: 50px auto;
}
h1 {
  text-align: right;
  margin: 0 auto;
}
h2 {
  text-align: right;
}
body h1 {
  font-size: 205px;

  font-weight: bold;
}
@media (max-width: 760px) {
  body h1 {
    font-size: 95px;
    text-align: center;
  }
}
h2 {
  font-size: 45px;
  font-weight: bold;
}
@media (max-width: 576px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

@media (max-width: 1250px) {
  video {
    margin-bottom: -380px;
  }
  .vid {
    text-align: center;
  }
}
